<strong>Olá, {{ username }}</strong>
<p>Houve uma atualização do seu evento, confira os detalhes abaixo:</p>
<p>
    <strong>Nome do Barbeiro: </strong> {{ barber_name }} <br />
    <strong>Tipo do Serviço: </strong> {{ type_service }} <br />
    
    <strong>Data e hora de Início: </strong> {{ date_hour_start }} <br />
    <strong>Data e hora de Fim: </strong> {{ date_hour_end }} <br />

    <br />
</p>